// Fonts
$font_heading         : "Poppins",sans-serif;
$font_text            : "Roboto", sans-serif;

// Colors

$color_primary        : #f67c04;
$color_secondary      : #2fcc6b;
$color_white          : #fff;
$color_danger_bg      : #f8d7da;
$color_danger_text    : #721c24;
$color_dark_bg        : #050505;
$color_dark_blue      : #17203a;
$color_black          : #000;
$body_text            : #667481;
$color_light_grey     : #f5f5f5;
$color_like_grey      : #F3F3F9;
$color_border_line    : #f1f1f1;
$color_primary_light  : #EAEFFF;
$color_soft_grey      : #e0e0e0;
$color_warning        : #ffc107;
$footer_text          : #b1afaf;
$color_grey           : #eff2f7;
$color_grey_secondary : #eee;
$color_shadow         : rgba(61,82,96,0.15);
$color_shadow_hover   : rgba(61,82,96,0.2);
$color_blue_shadow    : hsla(225, 96%, 57%, 0.16);
//Transition
$transition_default   : all 0.25s ease;
$trs_linear           : all 0.25s linear;